body {
  background-color: bisque;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: 50px;
}

.container {
    text-align: center ;
    background-color: white;
    padding : 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    margin-top: 30px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 2px;
}